.lobby {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.character-select {
  flex-direction: row;
  padding: 10vh;
}

.character-select button {
  height: 3em;
  width: 8em;
  margin: 25px;
}

.generator {
  cursor: pointer;
}

.generator:hover{
  background-color: #BF8620
}

.guesser {
  cursor: pointer;
}

.guesser:hover{
  background-color: #BF8620
}

.room-list {
  display: flex;
  flex-direction: column;
  margin: 1em
}

.room-list-select {
  margin-bottom: 1em
}

.join-room-btn, .username-btn, .new-room-btn {
  background-color: #282D33;
  color: #ffb22d

}
