@mixin buttonSizes {
  padding: 3px;
  font-size: large;
}

@mixin flexProperties {
  display: flex;
  flex-direction: column;
}

.lobby {
  @include flexProperties;
  min-height: 85vh;
  align-items: center;
  justify-content: center;
}

.username-btn, .new-room-btn, .join-room-btn, .username-btn, .new-room-btn {
  cursor: pointer;
}

.room-list {
  @include flexProperties;
  margin: 1em;
  width: 12.75em
}

.room-list-select {
  margin-bottom: 1em
}

.join-room-btn, .username-btn, .new-room-btn {
  @include buttonSizes;
  background-color: #282D33;
  color: #ffb22d;
}

.room-list-select, .username-input, .new-room-input {
  @include buttonSizes;
}
