.selection-page {
  margin-top: 10vh;
  color: #282c34;
}

.set-word {
  font-size: large;
}

#wordSubmit {
  font-size: large;
  cursor: pointer;
}

#wordSubmit:hover {
  background-color: #BF8620;
}

.Loading {
  margin-top: 20px;
  height: 7vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading {
    animation: Loading-spin infinite 1.1s linear;
  }
}

@keyframes Loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}