.homepage {
  display: flex;
  flex-direction: column;
  min-height: 83.5vh;
  align-items: center;
  justify-content: center;
}

.character-select {
  flex-direction: row;
  padding: 10vh;
}

.character-select button {
  font-size: large;
  height: 3em;
  width: 8em;
  margin: 25px;
}

.generator, .guesser {
  cursor: pointer;
}

.generator:hover, .guesser:hover{
  background-color: #BF8620;
}

.generator:disabled {
  background-color: #7b4200;
  color: #404040;
}
