@mixin allDivRules {
  border: solid 1.75px #282D33;
  background-color: white;
}

@mixin bottomDivRules {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 95%;
  align-self: center;
  border-radius: 15px;
  overflow-y: scroll;
  @include allDivRules();
  box-shadow: -3px 5px 20px 0px #282D33;
}

.game-page {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 85vh;
  color: #282c34
}

.draw-board {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50vw;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
  height: 15%;
  grid-column: 2;
  align-items: center;
  @include allDivRules();
  box-shadow: -3px 5px 20px 0px #282D33;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
}

.chat {
  @include bottomDivRules;
  margin-top: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 1;
  margin-left: 0;
  width: 90%;
  place-self: center;
}

.bottom-mid {
  @include bottomDivRules;
  grid-row: 2;
  grid-column: 2;
  width: 97%;
  place-self: center;
  .players {
    width: 40%;
    margin-left: 30px;
    // background-color: white;
    @include bottomDivRules;
    float: left;
  }
  .guessForm {
    width: 40%;
    // background-color: white;
    @include bottomDivRules;
    margin-right: 30px;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: flex-end;
  }
}

.attempts {
  @include bottomDivRules;
  margin-top: 20px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 3;
  margin: 0;
  width: 90%;
  place-self: center;
}

.guess-input {
  margin-bottom: 1em;
}

.hints {
  margin: 15px;
  width: 250px;
  border: solid 2px black;
  border-radius: 2%;
}

.board form label {
  margin: 10px
}

.display-word {
  font-size: large;
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.display-word p {
  margin: 5px
}

#guess-button {
  cursor: pointer;
}

#guess-button:hover {
  background-color: #BF8620;
}

/*https://mycolor.space/?hex=%23282D33&sub=1*/