.game-page {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  height: 85vh;
  color: white
}

.hints {
  margin: 15px;
  width: 250px;
  border: solid 2px black;
}

.attempts {
  margin: 15px;
  width: 250px;
  border: solid 2px black;
}

.board {
  width: 55%;
}

.draw-board {
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 2px black;
  min-height: 350px;
  width: 100%;
}

.board form label {
  margin: 10px
}
