.footer {
    background-color: #282c34;
    height: max-content;
    align-content: center;
    font-size: calc(10px + 2vmin);
    font-family: 'Bangers', cursive;
    color: #BF8620;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;

    button {
      justify-self: flex-start;
      background-color: transparent;
    }
}

#credits {
    cursor: pointer;
    height: 50px;
    font-family: 'Bangers', cursive;
}

#credits:hover {
    background-color: #BF8620;
}

.p {
    margin: 0;
}

.showNames {
    place-self: center;
    text-decoration: underline;
    color: #BF8620;
    cursor: pointer;
}
